html, head {
    width: 100%;
    height: 100%;
}

body {
    position: relative; /* .overlay */
    width: 100%;
    height: 100%;
    font-family: var(--font-family-text);

    color: #FF0000;
    background-color: var(--color-back-html);
}

.overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.overlay.active {
    display: block;
}

.layout {
    display: block;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    display: block;
    width: 100%;
    height: var(--size-header);
    z-index: 4;

    flex-flow: row nowrap;
    justify-content: center;
    line-height: var(--size-header);
    font-size: 2rem;

    background-color: var(--color-back-head);
    border-bottom: 1px solid var(--color-border-head);
}

button.side-btn {
    position: absolute;
    display: none;
    top: 0;
    z-index: 5;
    width: 3rem;
    height: 3rem;

    cursor: pointer;

    background-color: transparent;
    border: 0;
    border-radius: 0;
}

button.side-btn.menu {
    left: 0;
}

button.side-btn.nav {
    right: 0;
}

main {
    display: flex;
    width: 100%;
    height: calc(100% - var(--size-header));

    flex-flow: row nowrap;
    justify-content: center;

    overflow-y: auto;
    scrollbar-color: var(--color-scroll-html) var(--color-back-html);
    scroll-padding-top: 6rch;
    scroll-behavior: smooth;
}

.side {
    position: fixed;
    display: block;
    width: var(--size-side);
    height: 100%;
    z-index: 3;
    left: unset;
    right: unset;

    transition: margin 0.1s;

    pointer-events: none;
    background-color: var(--color-back-side);
}

menu {
    margin-left: 0;
    transform: translateX(
        calc(var(--size-main) / (-2.0) - var(--size-side) / 2.0));
}

nav {
    margin-right: 0;
    transform: translateX(
        calc(var(--size-main) / 2.0 + var(--size-side) / 2.0));
}

.content {
    display: block;
    width: var(--size-main);
    height: max-content;
    padding: 6rch 3rch;
    padding-bottom: 50vh;

    background-color: var(--color-back-main);
}

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

h1, h2, h3, h4 {
    font-family: var(--font-family-head);
}

h1 {    
    text-align: center;
    font-size: 2rem;
    font-weight: 600;

    color: var(--color-fore-head-1);
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h1:hover {
    color: var(--color-fore-head-1_h);
    text-decoration: underline;
}

.block {
    margin-bottom: 6rch;
    padding: 3rch;

    background-color: var(--color-back-block);
    border: 1px solid var(--color-border-block);
    border-radius: 1rch;
}

.block *:last-child {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 3rch;

    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;

    color: var(--color-fore-head-2);
}

h2#links {
    margin-bottom: 1.5rch;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

h3 {
    margin-top: 3rch;
    margin-bottom: 1.5rch;

    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 500;

    color: var(--color-fore-head-3);
}

h3:first-child {
    margin-top: 0;
}

h4 {
    margin-bottom: 1rch;

    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 400;

    color: var(--color-fore-head-4);
}

h2, h3 {
    cursor: pointer;
}

.content h2::before,
.content h3[id]::before {
    content: "#";
    font-family: inherit;
    margin-right: 0.5rch;

    color: var(--color-fore-anchor);
}

p {
    margin-bottom: 1.5rch;

    font-size: 1rem;

    color: var(--color-fore-text);
}

p.comment {
    margin-bottom: 0.5rch;
}

p.indent {
    text-indent: 2rch;
}

.note {
    margin-bottom: 1.5rch;
    padding: 1rch;

    background-color: var(--color-back-note);
    border: 1px solid var(--color-border-note);
    border-left: 0.5rch solid var(--color-border-note-alt);
    border-radius: 0.5rch;
}

.note p {
    margin-bottom: 0.5rch;
}

.links {
    display: flex;
    margin-bottom: 1.5rch;

    flex-flow: row wrap;
}

.content a {
    display: inline-block;
    margin: 0 0.5rch;
    padding: 0 0.75rch;
    
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-family: var(--font-family-link);
    font-weight: 500;
    text-decoration: none;
    
    color : var(--color-fore-link);
    background-color: var(--color-back-link);
    border: 1px solid var(--color-border-link);
    border-radius: 0.8rch;
}

.content a:hover {
    text-decoration: underline;
    color: var(--color-fore-link_h);
    background-color: var(--color-back-link_h);
    border-color: var(--color-border-link_h);
}

.content a:first-child { margin-left: 0; }
.content a:last-child { margin-right: 0; }

.content a::before {
    display: inline-block;
    margin-right: 0.5rch;
    transform: translateY(-0.1rcap);

    content: var(--symbol-note);
    user-select: none;
    font-size: 0.6rem;
    line-height: 0rem;

    font-family: var(--font-family-symbols);
}

.content a.manual::before {
    content: var(--symbol-manual);
}

.content a.file::before {
    content: var(--symbol-file);
}

.content a.external::before {
    content: var(--symbol-external);
}

.content a.external,
.content a:visited {
    color: var(--color-fore-link_v);
    background-color: var(--color-back-link_v);
    border-color: var(--color-border-link_v);
}

.content a.external:hover,
.content a:visited:hover {
    color: var(--color-fore-link_hv);
    background-color: var(--color-back-link_hv);
    border-color: var(--color-border-link_hv);
}

ul {
    margin-bottom: 1.5rch;
    padding-left: 1rem;
}

li {
    color: var(--color-fore-text);
    padding-bottom: 0.5rch;
}

li::marker {
    font-family: var(--font-family-symbols);
    color: var(--color-fore-marker);
   
    content: "";
}

.list {
    margin-bottom: 1.5rch;
}

.list code {
    display: inline-block;
}

.list p {
    padding-left: 4rch;
}



code {
    color: var(--color-fore-code);
    font-family: var(--font-family-code);
}

code.inline {
    font-size: 0.8rem;
    padding: calc(0.25rem - 2px) 0.5rch;

    background-color: var(--color-back-code-body);
    border: 1px solid var(--color-border-code-body);
    border-radius: 0.333rem;
}



.code-block {
    margin-bottom: 1.5rch;

    overflow: hidden;
}

.code-head {
    position: relative;
    display: flex;
    height: 2rem;
    padding: 0 0.5rem;

    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 2rem;

    background-color: var(--color-back-code-head);
    border: 1px solid var(--color-border-code-head);
    border-top-left-radius: 1rch;
    border-top-right-radius: 2rch; /*
        специально много, тк видно через AA за button.copy */
}

.filepath {
    font-family: var(--font-family-code);
    cursor: pointer;
    line-height: 2rem;

    color: var(--color-fore-code);
}

.snippet-name {
    color: var(--color-fore-code-head);
    line-height: 2rem;
}

.code-type {
    font-family: var(--font-family-code);
    color: var(--color-fore-code-type);
}

.code-type.move {
    transform: translateX(-2rem);
}

.code-block button.copy {
    position: absolute;
    display: block;
    right: 0;
    height: calc(2rem);
    aspect-ratio: 1;
    z-index: 1;
    margin: -1px;

    font-family: var(--font-family-symbols);
    text-align: center;
    line-height: 2rem;
    cursor: pointer;

    color: var(--color-fore-code-copy);
    background-color: var(--color-back-code-copy);
    border: 1px solid var(--color-border-code-copy);
    border-radius: 0;
    border-top-right-radius: 1rch;
}

.code-body {
    display: flex;

    flex-flow: row nowrap;
    overflow: hidden;
    
    background-color: var(--color-back-code-body);
    border: 1px solid var(--color-border-code-body);
    border-top: none;
    border-bottom-left-radius: 1rch;
    border-bottom-right-radius: 1rch;
}

.line-numbers {
    display: flex;
    padding: 0.5rem 0.5rch 0.5rem 1rch;
    
    flex-shrink: 0;
    flex-flow: column nowrap;
    align-items: end;

    color: var(--color-fore-code-line);
    border-right: 1px solid var(--color-border-code-body);
}

.line-numbers div {
    display: inline-block;
    font-size: 1rem;
    font-family: var(--font-family-code);

    font-size: 1rem;
    line-height: 1.3rem;
    height: 1.3rem;

    user-select: none;
    pointer-events: none;
}

.line-content {
    display: flex;
    padding: 0.5rem 1rch 0.5rch 1rch;
    min-width: 100%;

    max-height: calc(min(40rem, 50vh));
    overflow-y: auto;
    
    flex-flow: column nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-scroll-code) var(--color-back-code-body);
}

.line-numbers ~ .line-content {
    padding-left: 0.5rch;
}

.line-content code {
    display: inline-block;

    flex-shrink: 0;
    font-size: 1rem;
    line-height: 1.3rem;
    height: 1.3rem;

    width: max-content;
    white-space: pre;
}



.command {
    position: relative;
    display: flex;
    margin-bottom: 1.5rch;

    flex-flow: row nowrap;
    justify-content: space-between;

    background-color: var(--color-back-code-body);
    border: 1px solid var(--color-border-code-body);
    border-radius: 0.5rem;
    border-collapse: collapse;
}

.command .text {
    display: flex;
    padding: 0.5rch 1rch;

    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: var(--color-scroll-code) var(--color-back-code-body);
    scrollbar-width: thin;
}

.env {
    margin-right: 0.5rch;

    font-size: 1rem;
    font-family: var(--font-family-code);
    flex-shrink: 0;

    user-select: none;
    pointer-events: none;

    color: var(--color-fore-code-env);
}

.command code {
    font-size: 1rem;
    white-space: pre;
}

.command button.copy {
    width: 2rem;
    height: 2rem;
    margin: -1px;
    z-index: 1;

    flex-shrink: 0;
    font-family: var(--font-family-symbols);
    text-align: center;
    text-align: center;
    line-height: 100%;
    cursor: pointer;

    color: var(--color-fore-code-copy);
    background-color: var(--color-back-code-head);
    border: none;
    border: 1px solid var(--color-border-code-copy);
    border-radius: calc(0.5rem - 1px);
    box-sizing: border-box;
}

button.copy:hover {
    color: var(--color-fore-code-copy);
    background-color: var(--color-back-code-copy_h);
    border-color: var(--color-border-code-copy_h);
}

button.copy:active {
    color: var(--color-fore-code-copy);
    background-color: var(--color-back-code-copy_a);
    border-color: var(--color-border-code-copy_a);
}



@keyframes variable-phase {
    0%, 100% {
        color: color-mix(in srgb, var(--color-syntax-variable), transparent  0%);
    }
    50% {
        color: color-mix(in srgb, var(--color-syntax-variable), transparent 25%);
    }
}

c31, c32, c33, c34, c35, c36,
exe, fil, pat, str, esc, cmd, flg, opr, cnt, com, var {
    display: inline;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    white-space: inherit;
}

c31 { color: var(--color-fore-terminal-31); }
c32 { color: var(--color-fore-terminal-32); }
c33 { color: var(--color-fore-terminal-33); }
c34 { color: var(--color-fore-terminal-34); }
c35 { color: var(--color-fore-terminal-35); }
c36 { color: var(--color-fore-terminal-36); }

exe { color: var(--color-syntax-exec); }
fil { color: var(--color-syntax-file); }
pat { color: var(--color-syntax-path); }
str { color: var(--color-syntax-string); }
esc { color: var(--color-syntax-escape); }
cmd { color: var(--color-syntax-command); }
flg { color: var(--color-syntax-flag); }
opr { color: var(--color-syntax-operator); }
cnt { color: var(--color-syntax-const); }

com {
    color: var(--color-syntax-comment);
    font-style: italic;
}

var {
    display: inline-block;
    color: var(--color-syntax-variable);
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: var(--color-syntax-variable);
    animation: variable-phase 1s ease infinite;
}

.filepath fil,
.filepath pat {
    color: var(--color-fore-code-head);
}



.scroll-domain {
    margin-bottom: 1.5rch;

    overflow-x: auto;
    scrollbar-color: var(--color-scroll-table) var(--color-back-table-body);
}

table {
    width: 100%;

    border-collapse: collapse;

    background-color: var(--color-back-table-none);
    overflow: hidden;
}

th,
td {
    padding: 0.5rch 1.25rch;

    white-space: nowrap;
    word-wrap: none;

    /* line-height: 1.8rem; */
    min-width: 1.5rem;
    border: 1px solid var(--color-border-table);
}

th {
    color: var(--color-fore-table-head);
    background-color: var(--color-back-table-head);
}

td {
    font-weight: 500;

    color: var(--color-fore-table-body);
    background-color: var(--color-back-table-body);
}

.min-width {
    width: 0;
    min-width: max-content;
}

.rj { text-align: right; }
.cj { text-align: center; }
.lj { text-align: left; }

div[level] { padding-left: 2rch; }



/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/



nav {
    padding: calc(3rch + 1.4rcap) 3rch;
}

nav * {
    pointer-events: all;
}

nav h1 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 1.5rch;
    color: inherit;
}

nav h2,
nav h3,
nav h4 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 0;
    font-weight: 500;
    color: inherit;
    background-color: inherit;
}

nav h3 {
    font-size: 1.0rem;
    line-height: 1.5rem;
    margin-top: 0;
    padding-left: 1.5rch;
}

nav h4 {
    display: block;
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-top: 0;
    padding-left: 3rch;
}

nav a {
    text-decoration: none;
    color: var(--color-fore-nav-item);
}

nav a:hover {
    text-decoration: underline;
    color: var(--color-fore-nav-item_h);
}

nav a:active {
    color: var(--color-fore-nav-item_a);
}

nav a.visible {
    color: var(--color-fore-nav-item_v);
}

nav a.visible:hover {
    color: var(--color-fore-nav-item_hv);
}

nav a.visible:active {
    color: var(--color-fore-nav-item_av);
}



/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/



@media (width < 100rem) {
    .content {
        max-width: var(--size-main);
        padding: 1rch;
    }

    button.side-btn {
        display: block;
    }

    .side {
        transform: none;
        transition: left 0.1s;

        pointer-events: all;
    }

    menu.side {
        left: calc(-1.0 * var(--size-side));
    }

    menu.side.active {
        left: 0;
    }

    nav.side {
        right: calc(-1.0 * var(--size-side));
    }

    nav.side.active {
        right: 0;
    }
    
    .block {
        margin-bottom: 3rch;
        padding: 1rch;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.4rem;
        margin-bottom: 1rch;
    }

    h3 {
        font-size: 1.2rem;
        margin-top: 2rch;
    }

    th,
    td {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}

@media (width < calc(60rem + 2rch)) {
    main {
        display: block;
    }

    .content {
        width: 100%;
    }
}