* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Noto Sans";
    height: 100%;
}

body {
    display: flex;
    flex-flow: row nowrap;
    overflow-y: scroll;
    padding-bottom: 50vh;
    justify-content: center;
    color: var(--a-white);
    background-color: var(--back);
}

main {
    display: flex;
    flex-flow: column nowrap;
    width: 60rem;
    scrollbar-color: oklch(24% 0 0) var(--back);
}

h1, h2, h3 {
    margin: 0.6rem;
    color: var(--b-white);
}

h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

h2 ~ h2 {
    margin-top: 2rem;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

h3 ~ h3 {
    margin-top: 1rem;
}

p {
    font-size: 0.9rem;
    margin: 0.3rem;
    margin-top: 0.6rem;
    margin-bottom: -0.45rem;
    color: var(--b-gray);
}

.block {
    padding: 0 0.3rem;
    padding-top: 0;
    background-color: var(--back-block);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
}

.filepath {
    font-size: 0.8rem;
    font-family: "JetBrains Mono";
    margin: 0.6rem 0.3rem -0.6rem 0.3rem;
    padding: 0.1rem 0.4rem;
    background-color: var(--back-file);
}

.code-block {
    display: flex;
    flex-flow: column nowrap;
    margin: 0.6rem 0.3rem;
    background-color: var(--back-code);
    border: 1px solid var(--border);
    border-radius: 0.333rem;
}

.line {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    line-height: 1.3rem;
}

.line * {
    font-family: "JetBrains Mono";
    font-weight: 400;
}

.env {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 0.4rem;
    text-align: right;
    white-space: pre;
    padding: 0.35rem 0rem 0.3rem 0.5rem;
    user-select: none;
    pointer-events: none;
    color: var(--a-gray);
}

.text {
    padding: 0.35rem 0.5rem 0.3rem 0rem;
}

code {
    font-size: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

p code {
    font-size: 0.8rem;
    background-color: var(--back-code);
    padding: 0 0.15rem;
}

.multiline {
    padding: 0.3rem 0;
}

.multiline .env {
    width: 1.2rem;
    font-size: 0.9rem;
    padding-left: 0;
    padding-right: 0.2rem;
    margin-right: 0.25rem;
    border-right: 1px solid var(--c-gray);
}

.multiline.l2 .env {
    width: 1.8rem;
}

.multiline.l3 .env {
    width: 2.2rem;
}

.multiline .env, .multiline .text {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.3rem;
}

.exec { color: var(--a-red); }
.path { color: var(--a-yellow); }
.file { color: var(--a-green); }
.spec { color: var(--a-cyan); }
.keyw { color: var(--a-blue); }
.flag { color: var(--a-purple); }
.comm { color: var(--a-gray); }

.exec {
    font-weight: 300;
}
